<div class="guide-second-step">
    <div class="pro-install">
        <div class="install-head">
            <p>{{'129'|translate}}</p>
        </div>
        <form class="install-info" name="secondForm">
            <ul>
                <li>
                    <span class="message">{{'130'|translate}}</span>
                    <input type="text" name="master" class="eo-input" data-ng-model="$ctrl.info.dbURL" data-ng-class="{'eo-input-error':($ctrl.data.info.submited&&secondForm.master.$invalid)}" required />
                </li>
                <li>
                    <span class="message">{{'131'|translate}}</span>
                    <input type="text" name="name" class="eo-input" data-ng-model="$ctrl.info.dbName" data-ng-class="{'eo-input-error':($ctrl.data.info.submited&&secondForm.name.$invalid)}" required />
                </li>
                <li>
                    <span class="message">{{'132'|translate}}</span>
                    <input type="text" name="username" placeholder="{{'132'|translate}}" class="eo-input" data-ng-model="$ctrl.info.dbUser" data-ng-class="{'eo-input-error':($ctrl.data.info.submited&&secondForm.username.$invalid)}" required />
                </li>
                <li>
                    <span class="message">{{'133'|translate}}</span>
                    <input type="text" name="password" placeholder="{{'133'|translate}}" class="eo-input" data-ng-model="$ctrl.info.dbPassword" />
                    <span class="tips">{{'134'|translate}}</span>
                </li>
                <li>
                    <span class="message">{{'135'|translate}}</span>
                    <input type="text" name="title" placeholder="{{'135'|translate}}" class="eo-input" data-ng-model="$ctrl.info.pageTitle" data-ng-class="{'eo-input-error':($ctrl.data.info.submited&&secondForm.title.$invalid)}" required />
                </li>
            </ul>
        </form>
        <div class="install-tips">
            <p>{{'136'|translate}}</p>
        </div>
        <div>
            <button class="eo-button-success guide-button" data-ng-click='$ctrl.data.fun.enterThird()'>{{'137'|translate}}
                <span class="iconfont icon-xiangyou pull-right"></span>
            </button>
        </div>
    </div>
</div>
